<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Hps_Transit>
            <version>1.0.0</version>
        </Hps_Transit>
    </modules>
    <global>
        <resources>
            <hps_transit_setup>
                <setup>
                    <module>Hps_Transit</module>
                    <class>Hps_Transit_Model_Resource_Setup</class>
                </setup>
            </hps_transit_setup>
            <hps_transit_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </hps_transit_write>
            <hps_transit_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </hps_transit_read>
        </resources>
        <models>
            <hps_transit>
                <class>Hps_Transit_Model</class>
                <resourceModel>hps_transit_resource</resourceModel>
            </hps_transit>
            <hps_transit_resource>
                <class>Hps_Transit_Model_Resource</class>
                <entities>
                    <storedcard>
                        <table>hps_transit_storedcard</table>
                    </storedcard>
                </entities>
            </hps_transit_resource>
        </models>
        <helpers>
            <hps_transit>
                <class>Hps_Transit_Helper</class>
            </hps_transit>
        </helpers>
        <blocks>
            <hps_transit>
                <class>Hps_Transit_Block</class>
            </hps_transit>
        </blocks>
        <fieldsets>
            <sales_convert_quote_payment>
                <transit_use_stored_card>
                    <to_order_payment>*</to_order_payment>
                </transit_use_stored_card>
            </sales_convert_quote_payment>
        </fieldsets>
    </global>
    <default>
        <payment>
            <hps_transit>
                <model>hps_transit/payment</model>
                <payment_action>authorize_capture</payment_action>
                <title>Credit Card</title>
                <cctypes>AE,VI,MC,DI,JCB</cctypes>
                <useccv>1</useccv>
                <min_order_total/>
                <merchant_id backend_model="adminhtml/system_config_backend_encrypted" />
                <user_id backend_model="adminhtml/system_config_backend_encrypted" />
                <password backend_model="adminhtml/system_config_backend_encrypted" />
                <device_id backend_model="adminhtml/system_config_backend_encrypted" />
                <device_id_tsep backend_model="adminhtml/system_config_backend_encrypted" />
                <transaction_key backend_model="adminhtml/system_config_backend_encrypted" />
                <developer_id>003226G003</developer_id>
                <is_production>no</is_production>
                <fraud_velocity_attempts>3</fraud_velocity_attempts>
                <fraud_velocity_timeout>10</fraud_velocity_timeout>
                <use_http_proxy>0</use_http_proxy>
                <debug>0</debug>
            </hps_transit>
        </payment>
    </default>
    <frontend>
        <secure_url>
            <transit>/transit/</transit>
        </secure_url>
        <layout>
            <updates>
                <hps_transit module="Hps_Transit">
                    <file>transit.xml</file>
                </hps_transit>
            </updates>
        </layout>
        <routers>
            <hps_transit>
                <use>standard</use>
                <args>
                    <module>Hps_Transit</module>
                    <frontName>transit</frontName>
                </args>
            </hps_transit>
        </routers>
    </frontend>
    <adminhtml>
        <secure_url>
            <transit>/transit/</transit>
        </secure_url>
        <layout>
            <updates>
                <hps_transit>
                    <file>transit.xml</file>
                </hps_transit>
            </updates>
        </layout>
        <routers>
            <hps_transit>
                <use>standard</use>
                <args>
                    <module>Hps_Transit</module>
                    <frontName>transit</frontName>
                </args>
            </hps_transit>
        </routers>
        <events>
            <admin_system_config_changed_section_payment>
                <observers>
                    <hps_transit>
                        <type>singleton</type>
                        <model>hps_transit/observer</model>
                        <method>requestTransactionKey</method>
                    </hps_transit>
                </observers>
            </admin_system_config_changed_section_payment>
        </events>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Hps_Transit before="Mage_Adminhtml">Hps_Transit_Adminhtml</Hps_Transit>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>
